.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text h1, h4 {
  text-align: center;

}

.text {
  justify-self: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h4 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: #4ECCA3;
  text-shadow: 5px 0 #232931;
  
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


@media (min-width: 800px) {

  .dice {
    display: inline-block; 
    width: 35%;
    margin-left: 10%;
  }

  .container {
    display: block;
    width: 70%;
    margin-left: 15%;
  }
  
}